In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Test").getOrCreate()
print (spark)

<pyspark.sql.session.SparkSession object at 0x000002C88BD74390>

In [2]:
df_pyspark= spark.read.csv('./data/test.csv',header=True,inferSchema=True)

In [3]:
df_pyspark.select(['Name']).show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [4]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [5]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]

In [6]:
print('end')

end

In [7]:
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [8]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+-----------------------+
|summary|  Name|               age|       Experience|            Salary|Experience After 2 year|
+-------+------+------------------+-----------------+------------------+-----------------------+
|  count|     6|                 6|                6|                 6|                      6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|      6.666666666666667|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|      3.559026084010437|
|    min|Harsha|                21|                1|             15000|                      3|
|    max| Sunny|                31|               10|             30000|                     12|
+-------+------+------------------+-----------------+------------------+-----------------------+

In [9]:
df_pyspark.show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience After 2 year|
+---------+---+----------+------+-----------------------+
|    Krish| 31|        10| 30000|                     12|
|Sudhanshu| 30|         8| 25000|                     10|
|    Sunny| 29|         4| 20000|                      6|
|     Paul| 24|         3| 20000|                      5|
|   Harsha| 21|         1| 15000|                      3|
|  Shubham| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [10]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+